:root{
    --azul-escuro: #0E24B3;
    --azul-claro: #425BFF;
    --azul-medio: #2946FF;
    --amarelo-escuro: #B38900;
    --amarelo-claro: #FFCD29;

    /* Tons de cinza validados */
    --cinza-escuro-tom-medio: #252525;
}


