
@font-face {
    font-family: 'LexieReadable';
    src: url("font/LexieReadable-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LexieReadable';
}

body{
    background-color: #e9ecef;
    transition: background 0.5s;
}
body.dark{
    background-color: #020202;
}

.container{
    max-width: 60rem;   /*Equivale a pouco mais que 920px - desta forma o testo fica responsivo*/
    margin: auto;
    background-color: #fff;
    transition: background 0.5s;
}
body.dark .container{
    background-color: #1E1E1E;
}

.intro, .btn{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 1.7em;
    margin-bottom: 20px;
    letter-spacing: 0.07em;   /*espaço do titulo*/
}

.title, span{
    color: #284b63;
}   
body.dark .title, 
body.dark span, body.dark .audiodesc h3, body.dark .audiodesc h4,
body.dark .utensilios h3, body.dark .tec h3, body.dark .tec h4,
body.dark .web h3, body.dark .criar h3{
    color: #a9d6e5;
    transition: 0.5s;
}

body.dark .visao .cor{
    color: #284b63;
    transition: 0.5s;
}


article{
    padding: 20px 30px;
}
.intro p{
    max-width: 50%;
    padding: 10px 0;
    line-height: 1.5em;   
} 

p{
    margin-bottom: 10px;
    letter-spacing: 0.065em;    /*Espacamento das letras*/
    font-size: 1.05em;      /* Tamanho da fonte*/
}

body.dark p, body.dark .criar ul li, body.dark .visao ul li{
    color: rgba(255, 255, 255, 0.87);
    transition: 0.5s;
}
.intro .exame{
    position: relative;
    width: 50%;
    height: 380px;
}
.exame img{
    position: absolute;
    right: 0;
    width: 90%;
    height: 100%;
} 

.visao{
    margin-top: 20px;
    background-color: #a9d6e5;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    transition: background 0.5s;
}
body.dark .visao{
    background-color: #446468;
}
.visao h3{
    letter-spacing: 0.07em;
    margin-bottom: 20px;
    color: #284b63;
}
.visao ul li{
    letter-spacing: 0.07em;
}
body.dark .visao h3{
    color: #f5f5f5;
    transition: 0.5s;
}


/* ################## */

.leitura{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.leitura figure{
    width: 280px;
    height: 250px;
    border-radius: 5px;  
    overflow: hidden;
    background-color: #a9d6e5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    transition: background 0.5s;
}
body.dark .leitura figure{
    background-color: #446468;
}
.leitura figure img{
    width: 100%;
    height: 80%;
}
.leitura figure figcaption{
    padding-left: 10px;
    color: #284b63;
    font-weight: 600;
}
body.dark .leitura figure figcaption{
    color: rgba(255, 255, 255, 0.87);
}
.utensilios h3{
    color: #284b63;
    margin: 30px 0;
    letter-spacing: 0.065em;     /*espaçamento sub-titulo*/
}

.web .texto{
    display: flex;
}
.web .texto div{
    max-width: 65%;
}
.web aside{
    width: 35%;
    margin-left: 40px;
}
.web h3{
    margin: 20px 0px;
    color: #284b63;
    letter-spacing: 0.065em;    /*espaçamento sub-titulo*/
}

.web .texto aside figure{
    width: 100%;
    height: 235px;
    margin-bottom: 20px;
}
.web .texto aside figure img{
    width: 95%;
    height: 100%;
}
.audiodesc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.audiodesc .coluna{
    background-color: #e9ecef;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 10px;
}
.audiodesc h3, .item-texto h4{
    color: #284b63;
    margin: 20px 0px;
    letter-spacing: 0.065em;      /*espaçamento sub-titulo*/
}
.audiodesc .item{
    background-color: #e9ecef;
    padding: 10px 20px;
    border-radius: 10px;
}

body.dark .audiodesc .coluna, body.dark .audiodesc .item{
    background-color: #343a40;
    transition: 0.5s;
}

.item figure{
    width: 90%;
    height: 280px;
    margin-top: 20px;
    background-color: #005f73;
    border: 1px solid #005f73;
    border-radius: 5px;  
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
.item figure img{
    width: 100%;
    height: 70%;
}
.item figcaption{
    padding: 10px 10px;
    color: #fff;
}

.leitura figcaption{
    text-align: center;
}

.criar{
    display: flex;
}
.criar .conteudo, .criar aside{
    width: 50%;
    padding-right: 10px;
}


.conteudo h3, .criar .testes h3, .tec h3, .tec section h4{
    color: #284b63;
    margin: 20px 0px;
    letter-spacing: 0.065em;            /*espaçamento sub-titulo*/
}
.testes ul, .testes h3{
    padding: 10px 35px;
}
.testes ul li{
    letter-spacing: 0.065em;     /*espaçamento sub-titulo*/
}
.tec{
    max-width: 70%;
}
.tec section iframe{
    width: 100%; 
    height: 340px;
}

footer{
    max-width: 60rem;
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    text-align: center;
    background: #111;
    margin: auto;
}
footer p{
    color: #fff;
}


.toggle{
    position: absolute;
    top: 20px;
    right: 15%;
    background: #e9f5ff;
    width: 75px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toggle:hover{
    box-shadow: 1px 2px 2px 0px rgba(121, 121, 120, 0.3);
}
body.dark .toggle{
    background: #404852;
}
.toggle::before{
    content: '\f186';
    font-family: fontAwesome;
    color: #2fa1ff;
}
.dark .toggle::before{
    content: '\f185';
    color: white;
}

#claroEscuro{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
}
#claroEscuro:hover{
    color: #2fa1ff;
}


@media (max-width: 670px){
    .intro{
        display: block;
    }
    .intro p{
        max-width: 100%;
    }  
    .title{
        font-size: 1.1em;
    }
    p{
        font-size: 0.9em;
    }
    .visao h3, .coluna h3, .tem h3{
        font-size: 1em;
    }
    .intro .exame{
        width: 85%;
        height: 240px;
    }
    .utensilios h3{
        align-items: center;
    }
    .leitura{
        display: block;
    }
    .leitura figure{
        min-width: 70%;
        min-height: 280px;
        margin: auto;
        margin-bottom: 30px;
    }
    .leitura figure img{
        width: 100%;
        height: 80%;
    }
    .utensilios h3{
        align-items: center;
    }
    .web aside{
        display: none;
    }
    .web .texto div{
        max-width: 100%;
    }
    .audiodesc{
        grid-template-columns: 1fr;
    }
    .audiodesc .coluna{
        max-width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .criar{
        display: block;
    }
    .criar .conteudo, .criar aside{
        width: 100%;
    }
    .tec{
        max-width: 100%;
    }
    .tec section iframe{
        width: 100%; 
        height: 300px;
    }
    .toggle {
        right: 10px;
    }
}
@media (max-width: 460px){
    .intro figure{
        max-width: 90%;
        height: 220px;
    }
    .visao ul li, h3, p{
        font-size: 0.9em;
    }
    .tec section iframe{
        width: 100%; 
        height: 180px;
    }
    .title{
        font-size: 0.9em;
    }
    .toggle{
        width: 55px;
        height: 20px;
    }
    #claroEscuro{
        margin-top: 12px;
        margin-left: 2px;
        font-size: 8px;
    }
}
